.range-wrap {
  position: relative;
  margin: 0 1rem;
  width: 50%;
}
.range {
  width: 100%;
}
.bubble {
  top: 25px;
  background: var(--second-color);
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  /* left: 50%; */
  transform: translateX(-50%);
}
.bubble::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--second-color) transparent;
}
