
  .bg{
    background-color: rgb(175, 175, 175);
  }
  .pointer{
    cursor: pointer;
  }
  .dash{
    margin: 1rem auto;
    border:none;
    border-top:2px solid black
  } 
  .arrowToggler{
    transform: rotate(180deg) !important;
  }